.vboxPlayer {
    -fx-background-image: url("../img/profile_board.png");
    -fx-background-size: cover;
}

.window {
    -fx-background-image: url("../img/game_bg/game_bg1.jpeg");
    -fx-background-size: cover;
}

.playerLabelTitle {
    -fx-font-family: "Pixel Operator 8";
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: #f8f1e7;
    -fx-alignment: center;

}

.playerLabelValue {
    -fx-font-family: "Pixel Operator 8";
    -fx-font-size: 12px;
    -fx-text-fill: #000000;
}